<!DOCTYPE html>
<html>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <body><br>
    <center>
      <div style="width:500px" class="w3-card-4">
        <div class="w3-container w3-blue">
          <h2>Login - Bank 309</h2>
        </div>
        <form name="login_form" method="post" class="w3-container"><span name="msg" id="msg" style="color: red">@replace2</span>
          <p>
            <input id="username" name="username" type="text" placeholder="Username" value="@replace1" class="w3-input" autofocus>
          </p>
          <p>
            <input id="password" name="password" type="Password" placeholder="Password" class="w3-input">
          </p>
          <p>
            <button name="submitlogin" style="float:right" class="w3-btn w3-blue">Login</button><br><br>
          </p>
        </form>
      </div>
    </center>
  </body>
</html>