<!DOCTYPE>
<html>
<head>
	<title>Bank 309</title>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<a href="/logout">logout</a>
<center><div class="w3-card-4" style='width:500px'>
	<div class="w3-container w3-blue"> <h2>CSC309 Web Security Demo</h2> </div>
	<div style="padding: 20px;text-align: left;" >	
	<span> User: </span><br><br>
	<span> Coins: </span><br>
	<hr>
	<form action="/trans">
	Transfer: <input type='text' name='coins' size=5/> coins to <input type='text' name='receiver'/>
	<button class="w3-btn w3-blue">Enter</button>
	</form>
	</div>
</center></div>
</body>
</html>