html
  head
    title CSC309 Web Security Demo
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
  body
    a(href='/logout') logout
    center
      .w3-card-4(style='width:500px')
        .w3-container.w3-blue
          h2 Bank 309 Main Page
        div(style='padding: 20px;text-align: left;')
          span  User: #{username}
          br
          br
          span  Coins: #{coin}
          br
          hr
          form(action='/trans')
            | Transfer: 
            input(type='text', name='coins', size='5/')
            |  coins to 
            input(type='text', name='receiver')
            input(type='hidden', name='token' value='#{token}')
            button.w3-btn.w3-blue Enter
